:root {
  --main-bg-color: brown;
}


.table-holder{
    width: 700px ;
}
.no-data-p{
    margin-top: 25px;
    text-align: center;
}
.dashboard-div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.table-holder{
    margin-top: 10px;
    border-radius: 10px;
}

.h2-title-table{
    font-family: "Roboto", sans-serif;
    border-bottom: 3px solid black;
    text-align: center;
    margin: 40px 20px 10px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 13px;
}
.h1-title-table{
    font-family: "Roboto", sans-serif;
    margin: 20px 20px 10px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #000000af;
}


.dashboard-toggle-bar{
    margin-top: 50px;
    display: flex;
    color: #00122c;
    background-color: #f4f7fb;

    border-radius: 20px;
    height: 35px;

}

.toggle-active{
    color: white;
    background-color: #00122c;
    border-radius: 20px;

}

.dashboard-toggle{
    width: 50%;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;

}

.table-inactive{
    display: none;
}

.dashboard-middle .table-container{
        width: 700px;
}

.jobs-table-container{
        width: 320px !important;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 800px;
}


.summary-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.arrow-i{
    cursor: pointer;
}