.dashboard-div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table-holder{
    margin-top: 100px;
    background-color: #f4f7fb;
    width: 500px;
    border-radius: 8px;
    
}

.h2-title-table{
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 20px 20px 10px;
    font-size: 18px;
    font-weight: 500;
}