

/* Header */
.header-flex{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
    margin-bottom: 0;
}
.flex-container{
    display: flex;
}
.left-h-container,
.image-container-flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-container-flex .header-title{
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 40px;
}

.left-h-container{
    width: 100px;
}


/* Button */
.button-54 {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


/* Main */
.main-container {
  display: flex;
  justify-content: flex-start; /* keeps the blue container on the left */
  align-items: center;         /* vertically centers */
  position: relative;
  height: 100vh;               /* so it's centered in the viewport */
}

.blue-container {
  width: 60vw;
  height: 90vh;
  background-color: #00122c;
  position: relative;
}

.cal-image {
  width: 700px;
  height: auto;
  border-radius: 20px;

  position: absolute;
  top: 50%;          /* halfway down the blue box */
  left: 60vw;        /* just outside the right edge of the blue box */
  transform: translate(-50%, -50%);
}

.hero-container{
    color: #ffffff;
    margin: 200px 50px;
    width: 400px;
}
.hero-title {
  font-size: 2.5rem;       /* Large, bold headline */
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.2rem;       /* Comfortable paragraph size */
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  max-width: 700px;        /* Keeps text easy to read */
  margin: 0 auto;          /* Centers the block */
}
.hero-container .button-54 {
  color: #ffffff;
  background-color: #ffffff27;
  border: #ffffff;

}
.hero-button-start{
    margin-top: 20px;
    text-align: center;

}

/* Instructions */
.instructions-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #00122c;
}

/*============= Responsive ================ */
@media(max-width: 500px){
        .blue-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        }

        .cal-image{
            display: none;
        }

        .header-flex{
            margin: 20px 10px ;

        }
        .image-container-flex .header-title{
            font-size: 18px;
            margin-left: 20px;
            
        }
        .container-policy{
            display: none;
        }
}


/* list */
:root {
    --bg: #fdfdfd;
    --highlight1: #ED4264;
    --highlight2: #FFEDBC;
    --color: #1a1e24;
    --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    --font-head: "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.list {
    list-style: none;
    width: 600px;
    max-width: 90%;
}

.item {
    display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    line-height: 1.375;
    position: relative;
}

.item:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.item:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}


.headline {
    padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
    font: normal 2rem var(--font-head);
}


/* Demo styles */

.list-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    font-family: var(--font);
    padding: 4rem 0;
}