    .flex-row {
        justify-content: space-around;
    }

    @media (min-width: 1500px) {
        .flex-row {
            justify-content: center;
        }
    }

    .youtube-tutorial{
        width: 70vw;
        height: auto;
        padding-top: 70px ;
    }