
.jobform-form{
    margin: 50px auto;
    margin-bottom: 100px;
    width: auto;
    border: 1px solid #f4f7fb;
    background-color: #f4f7fb;
    padding: 10px 25px;
    border-radius: 10px;
}


.div-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

input{
    background-color: #ffffff;
    margin: 0 0 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    padding: 7px;
     font-size: 14px;

}

.div-form{
    display: flex;
    flex-direction: column;
}
.i-worplace{
    width: 100px;
}

.i-wage{
    width: 80px;
    margin: 0 20px;
}

button{
    background-color: #00122c;
    color: white;
    border-radius: 10px;
    width: 60px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.h2-title-t{
    font-size: 22px;
    margin: 10px;
    font-weight: 800;
}
.title-wrapper{
    text-align: left;
}


/* ------------- Responsive ------------ */
@media (max-width: 1440px) {
    

    .h2-title-t{
    font-size: 20px;

    }
    .text-sm{
        font-size: 0.8rem ;
    }

}