
.scheduleSetupContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheduleWrapper{

    width: 80vw;
    height: 90vh;
}

.uploadCalendarButton{
    background-color: rgba(10, 3, 56, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    
}

.uploadCalendarButton:hover{
    background-color: rgb(4, 0, 32);
    color: white;
    padding: 10px;
    
}