
.sidebar-div{
    background-color: #000505;
    color: rgb(235, 235, 235);
}
.sidebar-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h2-title-sidebar{
    font-size: 20px;
    margin: 10px 0 30px 0;
    font-weight: 800;
    
}

.logo-div{
    display: flex;
    width: auto;
    justify-content: center;
    cursor: pointer;
}
.logo-racoon-sidebar{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 24px;

}
.bi-box-arrow-right{
    cursor: pointer;
}
.icons-bottom-ul{
    margin-bottom: 50px;
}

@media (max-width: 1440px) {
    #default-sidebar{
        width: 13rem !important;
    }

}
@media (max-width: 750px) {
.logo-racoon-sidebar{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    
}

}
