.summary-div{
    margin: 30px 20px 0;
    background-color: #f4f7fb;
    width: 500px;
    height: 200px;
    font-family: "Roboto", sans-serif;
    border-radius:18px;

}

.summary-h5, .summary-date, .summary-money-amount, .summary-pretax-money-amount{
    margin: 15px 0px 15px 25px;
}
.summary-h5{
    margin-top: 30px;
}
.summary-h5, .summary-date, .summary-pretax-money-amount{
    font-size: 16px;
    font-weight: 700;
    color: #00122c;
}
.summary-pretax-money-amount{
    font-size: 14px;
    font-weight: 500;

}

.summary-money-amount{
    font-size: 32px;
    font-weight: 900;
    color: #00122c;
}
.summary-div{
    display: flex;
}
.summary-chart-container{
 width: 150px;
 display: flex;
 justify-content: center;
 align-items: center;
    margin-top: 40px;
    margin-left: 10px;


}
.summary-div-left{
    margin-right: 20px;
}
/*============= Responsive ================ */
@media(max-width: 500px){
    .summary-div-left{
    margin-right: 5px;
}
        .summary-chart-container{
            margin-top: 20px;
        }
        .summary-div{
            width: 90%;
            height: 160px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .summary-h5, .summary-date, .summary-pretax-money-amount{
            font-size: 12px;
            font-weight: 500;
        }

        .summary-money-amount{
            font-size: 20px;
            font-weight: 800;
        }
        .summary-h5, .summary-date, .summary-money-amount, .summary-pretax-money-amount{
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .dashboard-middle{
            width: 90vw;
        }
        .table-holder, .dashboard-middle .table-container  {
            width: 100%;
        }

        .text-xs, tr {
            font-size: 0.70rem;
        }
        .dashboard-toggle{
            font-size: 14px;
        }
        .px-6{
            padding-left: 1rem;
            padding-right: 0.5rem;
        }
        .h1-title-table{
            font-size: 20px;
        }
        .h2-title-table{
             font-size: 16px;
        }
        .summary-date{
            margin-top: 0px;
        }
        .summary-pretax-money-amount{
            margin-bottom: 0px;
        }
        .summary-container{
            width: 100%;
        }
        .summary-chart-container{
            width: 50px;
            }
}
